
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

:root{
  --BLACk:#2B2B2B;
  --LINE:#E3E3E3;
  --GREY:#C4C4C4;
  --Grey_3:#414141;
  --Coral:#F2766A
}